html{
    background-color: black;
}

h1{
    padding: 20px;
    margin: 10px;
    background-color: aqua;
}
h2{
    padding: 20px;
    margin: 10px;
    background-color: #ccc;
}

p{
    padding: 20px;
    margin: 10px;
    background-color: antiquewhite;
}